@font-face {
    font-family: 'orb';
    src: url('ORB.otf') format('truetype');
}

body {
    background-color: #000;
    font-family: 'orb', sans-serif;
    text-align: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 72px;
    color: #fff;
    margin-bottom: 50px;
    position: relative;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #7f00ff;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background-color: #6600cc;
}

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}
